/*font-family: 'Allura', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  margin: 0 auto;
  background-color: #52cacf;
  font-family: "Allura", cursive;
  padding: 8px;
}

.logo {
  background-image: url(/images/backgrounds/logo-wreath.png);
  background-repeat: no-repeat;
  z-index: 99;
  margin: 0;
  padding: 25px;
}

.jumbotron img {
  position: absolute;
  top: -35px;
  left: -50px;
  z-index: -1;
}

.jumbotron h1 {
  font-size: 84px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
}

.jumbotron h2 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.navbar {
  background-color: whitesmoke;
}

.index-top {
  background-image: url(/images/backgrounds/hearts-sm.jpg);
  min-height: 70vh;
}

.register {
  padding: 45px;
  margin-top: 75px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  line-height: 3rem;
}

.index-reviews{
  display: flex;
  background-color: rgba(67, 114, 122, 0.9);
  padding: 25px;
}

#review{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}

.destination-top{
  background-color: rgba(82, 202, 207, 0.2);
  padding: 30px;
}

.destination-top h2{
  text-align: center;
  font-family: 'Allura', cursive;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: 1.5px;
}

.carousel-caption{
  background-color: rgba(245, 245, 245, 0.5);
  padding: 8px;
  border-radius: 8px;
  color: black;
}

.search-form{
  text-align: center;

}

footer {
  padding: 30px;
  background: radial-gradient(rgb(82, 202, 207) 0%, rgb(245, 245, 245) 100%);
}

footer a{
  color: black;
}

footer a:hover{
  color: #138496;
}
