/*font-family: 'Allura', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
  margin: 0 auto;
  background-color: #52cacf;
  font-family: "Allura", cursive;
  padding: 8px;
}

.logo {
  background-image: url(/images/logo-wreath.png);
  background-repeat: no-repeat;
  z-index: 99;
  margin: 0;
  padding: 25px;
}

.jumbotron img{
    position: absolute;
    top: -35px;
    left: -50px;
    z-index: -1;
}

.jumbotron h1 {
  font-size: 84px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
}

.jumbotron h2 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.navbar {
  background-color: whitesmoke;
}

footer {
  padding: 30px;
  background: radial-gradient(rgb(82, 202, 207) 0%, rgb(245, 245, 245) 100%);
}